#logo {
    height:5em;
    width:10em;
    margin: 10px 0;
    border-radius:5px;
}
.percent-tag {
    text-align:center;
}
.percent-tag h2 {
    margin:0;
    margin-bottom:5px;
    font-size:4em;
    
}
h1 {
    font-size: 4em;
    line-height:0.9em;
    text-align:center;
    margin: 0;
    margin-bottom:20px;
    margin-top:25px;
}
#home {
    width:610px;
    height:360px;
}

.number {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
}


.data {
    font-size: 4em;
    line-height: 40px;
    margin-bottom: 5px;
}

.text {
    font-size: 27px;
}


.data i {
    font-size: 50px;
}

.fitProgress {
    font-size: 2em;
    line-height: 53px;
}

.red {
    color: #b94a48;
}

.green {
    color: #468847;
}

.rightPosition {
    text-align: right;
}